{% extends "base.html" %}

{% block content %}

    <style type="text/css">
            .searchable-container{margin:20px 0 0 0}
            .searchable-container label.btn-default.active{background-color:#007ba7;color:#FFF}
            .searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
            .searchable-container label .bizcontent{width:100%;}
            .searchable-container .btn-group{width:90%}
            .searchable-container .btn span.glyphicon{
                opacity: 0;
            }
            .searchable-container .btn.active span.glyphicon {
                opacity: 1;
            }

            .top-buffer { margin-top:20px; }
    </style>

  </head>

    <body>



<div class="container">
    <div class="row">
        <h2>Selecione os atributos que deseja pesquisar</h2>
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <input type="search" class="form-control" name = "search" id="search" placeholder="Escreva uma palavra para servir de filtro">
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
         <center>
        <button onclick="filtrar()" type="button" class="btn btn-primary"><span style="font-size:2.5em;" class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
        <button onclick="exibir_todos()" type="button" class="btn btn-primary"><span style="font-size:2.5em;" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
        <button onclick=" return cmd()" type="button" class="btn btn-primary"><span style="font-size:2.5em;" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
         <div id="result"></div>
        </center>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="searchable-container">
                
                {% for group in Groupdata %}
                 <div class="row">
                <p align="left"><h3>{{group[0][0]}}</h3></p>
                <p align="left"><b>{{group[0][1]}}</b></p>
                    {% for i in range(1,group|length) %}
                        {% if "selecionou" in group[i].lower() %}
                         <div class="items col-xs-10 col-sm-10 col-md-3 col-lg-3">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="{{group[i]}}"> {{group[i][10:]}}
                        </div>
                        {% elif "resultado" in group[i].lower() %}
                         <div class="items col-xs-10 col-sm-10 col-md-3 col-lg-3">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="{{group[i]}}"> {{group[i][9:]}}
                        </div>
                        {% else %}
                         <div class="items col-xs-10 col-sm-10 col-md-3 col-lg-3">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="{{group[i]}}"> {{group[i]}}
                        </div>                        
                        {% endif %}
                    {% endfor %}
                </div> 
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>

function buscar() {
      var infoDesejada = document.getElementsByName('infoDesejada')[0].value ;
      if (infoDesejada == "paciente") {
        var dadoFiltro = document.getElementsByName('dado')[0].value ;
        var dado = String(dadoFiltro)
        var resultUrl = "http://localhost:5000/";
        var url = resultUrl.concat(infoDesejada);
        url = url.concat("/")
        url = url.concat(dado);
        window.location.replace(url)
      }
      if (infoDesejada != "paciente") {
        var resultUrl = "http://localhost:5000/";
        var url = resultUrl.concat("filtro");
        url = url.concat("/")
        url = url.concat(infoDesejada);
        window.location.replace(url)
      }

}


function filtrar() {
    var pattern = document.getElementsByName('search')[0].value ;
    $('.searchable-container .items').hide();
    $('.searchable-container .items').filter(function() {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    window.alert(dadoFiltro);
    }

function exibir_todos() {
    var pattern = "";
    $('.searchable-container .items').hide();
    $('.searchable-container .items').filter(function() {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    }

function cmd() {
   var checkedItemsAsString = $('[name="var_id[]"]:checked').map(function() { return $(this).val().toString(); } ).get().join(",");
   var checkedAttributes = checkedItemsAsString.split(',');
   var rawURL = "http://localhost:5000/resultado?atributosSelecionados="
   var urlWithParameters = rawURL.concat(checkedItemsAsString)
   window.location.replace(urlWithParameters)
}

</script>
{% endblock %}
