{% extends "base.html" %}

{% block content %}

    <style type="text/css">
            .searchable-container{margin:20px 0 0 0}
            .searchable-container label.btn-default.active{background-color:#007ba7;color:#FFF}
            .searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
            .searchable-container label .bizcontent{width:100%;}
            .searchable-container .btn-group{width:90%}
            .searchable-container .btn span.glyphicon{
                opacity: 0;
            }
            .searchable-container .btn.active span.glyphicon {
                opacity: 1;
            }

            .top-buffer { margin-top:20px; }
    </style>

  </head>

    <body>



<div class="container">
                                <form class="form-horizontal" role="form">
                                     <h2> Busca de pacientes</h2>
                              <div class="form-group">
                                    <label for="contain">Número do Paciente</label>
                                    <p>Caso você deseje visualizar informações específicas de um paciente, deve selecionar o número do paciente no menu de seleção abaixo e clicar no botão <b>Buscar informações do paciente</b></p>
                                      <select name="paciente" class="form-control">
                                        {% for i in range(numberOfPatients) %}
                                        <option>{{i}}</option>
                                        {% endfor %}
                                    </select>
                              </div>
                             <div class="form-group">
                                    <label for="contain">Realizar comparação entre pacientes</label>
                                    <p>Você também pode utilizar os campos abaixo e o botão de <b>Comparação de pacientes</b> para analisar quantos atributos dois pacientes possuem em comum e quais são esses atributos.</b></p>
                                    <p>Paciente 1 para a comparação</p>
                                    <select name="paciente1" class="form-control">
                                        {% for i in range(numberOfPatients) %}
                                        <option>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                    <p>Paciente 2 para a comparação</p>
                                    <select name="paciente2" class="form-control">
                                        {% for i in range(numberOfPatients) %}
                                        <option>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                    <br>
                              </div>
                              <div class="well text-center">
                              <button onclick="buscar()"  type="button" class="btn btn-hot text-uppercase">Buscar informações do paciente</button>
                              <button onclick=" return cmd2()"type="button" class="btn btn-sky text-uppercase"><a style="color: #fff">Comparar pacientes</a></button>
                              </div>
                                </form>
    <div class="row">
        <h2>Busca por atributos</h2>
        <p>Utilizando os campos abaixo você pode buscar por atributos específicos que deseja analisar dos pacientes. Basta apenas selecionar os atributos que deseja visualziar e <b>clicar noícone da lupa de busca azul</b> </p>
        <p>Caso esteja com dificuldade, é possível usar o filtro de atributos. Batsa digitar o nome do atributo que deseja, clicar e clciar no ícone do filtro. Para visualizar todos os atributos novamente basta clicar no ícone de visualização, representado por um olho.</p>
        <div class="form-group">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <input type="search" class="form-control" name = "search" id="search" placeholder="Escreva uma palavra para servir de filtro">
            </div>
        </div>
    </div>
    <div class="row top-buffer" >
         <center>
        <button onclick="filtrar()" type="button" class="btn btn-primary"><span style="font-size:2.5em;" class="glyphicon glyphicon-filter" aria-hidden="true"></span></button>
        <button onclick="exibir_todos()" type="button" class="btn btn-primary"><span style="font-size:2.5em;" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
        <button onclick=" return cmd()" type="button" class="btn btn-primary"><span style="font-size:2.5em;" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
         <div id="result"></div>
        </center>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="searchable-container">
                
                {% for group in Groupdata %}
                 <div class="row">
                <p align="left"><h3>{{group[0][0]}}</h3></p>
                <p align="left"><b>{{group[0][1]}}</b></p>
                    {% for i in range(1,group|length) %}
                        {% if "selecionou" in group[i].lower() %}
                         <div class="items col-xs-10 col-sm-10 col-md-3 col-lg-3">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="{{group[i]}}"> {{group[i][10:]}}
                        </div>
                        {% elif "resultado" in group[i].lower() %}
                         <div class="items col-xs-10 col-sm-10 col-md-3 col-lg-3">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="{{group[i]}}"> {{group[i][9:]}}
                        </div>
                        {% else %}
                         <div class="items col-xs-10 col-sm-10 col-md-3 col-lg-3">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="{{group[i]}}"> {{group[i]}}
                        </div>                        
                        {% endif %}
                    {% endfor %}
                </div> 
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>

function buscar() {
   var patient = $('[name="paciente"]').map(function() { return $(this).val().toString(); } ).get().join(",");
   var rawURL = "http://localhost:5000/paciente/"
   var urlWithParameters = rawURL.concat(patient)
   window.location.replace(urlWithParameters)

}


function filtrar() {
    var pattern = document.getElementsByName('search')[0].value ;
    $('.searchable-container .items').hide();
    $('.searchable-container .items').filter(function() {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    window.alert(dadoFiltro);
    }

function exibir_todos() {
    var pattern = "";
    $('.searchable-container .items').hide();
    $('.searchable-container .items').filter(function() {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    }

function cmd() {
   var checkedItemsAsString = $('[name="var_id[]"]:checked').map(function() { return $(this).val().toString(); } ).get().join(",");
   var checkedAttributes = checkedItemsAsString.split(',');
   var rawURL = "http://localhost:5000/resultado?atributosSelecionados="
   var urlWithParameters = rawURL.concat(checkedItemsAsString)
   window.location.replace(urlWithParameters)
}

function cmd2() {
   var patient1 = $('[name="paciente1"]').map(function() { return $(this).val().toString(); } ).get().join(",");
   var patient2 = $('[name="paciente2"]').map(function() { return $(this).val().toString(); } ).get().join(",");
   var rawURL = "http://localhost:5000/comparacao?pacientes="
   var urlWithParameters1 = rawURL.concat(patient1)
   var urlWithParameters2 = urlWithParameters1.concat(","+patient2)

   window.location.replace(urlWithParameters2)
}

</script>
{% endblock %}
